.custom-file-input {
  position: relative;
  display: inline-block;
}

.input-file {
  position: absolute;
  left: -9999px;
}

.custom-file-label {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  cursor: pointer;
}
